  body {
    width: 100%;
    margin: auto;
    color: #031C3B;
    font-family: "Roboto", "Times New Roman", serif;
    background-color: rgb(247, 236, 236);
  }

  header {
    background-color: #faebd7;
    padding: 1px;
    margin-top: 2px;
  }

  h1 {
    font-size: 4.5em;
  }

  p {
    font-size: large;
  }

  section {
    margin-top: 1em;
  }

  /* general formatting */

  .displayflex {
    display: flex;
  }

  .paddingtopleft20px {
    padding-left: 20px;
    padding-top: 20px;
  }

  .uppercase {
    text-transform: uppercase;
  }

  .font2em {
    font-size: 2em;
  }

  .img400px {
    height: 400px;
  }

  .backgroundnavy {
    background-color: #031C3B;
    color: #faebd7;
  }

  .section500px {
    height: 500px;
  }

  .section200px {
    height: 200px;
  }

  .spacearound-center {
    justify-content: space-around;
    align-items: center;
  }

  .whiteletter {
    color: rgb(247, 236, 236);
  }

/* specific formatting */

  #main-header {
    background-image: url(../images/bikestoppedonthestreet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    padding-top: 30px;
    color: #faebd7;
    flex-flow: column nowrap;
    justify-content: center;
  }
  
  #nav {
    background-color: #031C3B;
    height: 2.5em;   
    margin-top: 2px;
    justify-content: space-around;
    align-items: center;
  }

  nav > a {
    text-decoration: none;
    color: #faebd7;
  }

  .backgroundmountains {
    background-image: url(../images/mansittingbesidebikesmaller.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }