body {
    width: 100%;
    margin: auto;
    color: #031C3B;
    font-family: "Roboto", "Times New Roman", serif;
    background-color: antiquewhite;
  }

  header {
    background-color: antiquewhite;
    padding: 1px;
    margin-top: 2px;
  }

  .displayflex {
    display: flex;
  }

  #main-header {
    background-image: url(../images/bikestoppedonthestreet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    padding-top: 30px;
    padding-left: 20px;
    color: antiquewhite;
    flex-flow: column nowrap;
    justify-content: center;
  }
  
  h1 {
    font-size: 4.5em;
  }

  .uppercase {
    text-transform: uppercase;
  }

  #nav {
    background-color: #031C3B;
    height: 2.5em;   
    margin-top: 2px;
    justify-content: space-around;
    align-items: center;
  }

  nav > a {
    text-decoration: none;
    color: beige;
  }

  .font2em {
    font-size: 2em;
  }

  .img400px {
    height: 400px;
  }

  .backgroundlightgray {
    background-color: lightgrey;
  }

  .backgroundnavy {
    background-color: #031C3B;
    color: antiquewhite;
  }

  .section500px {
    height: 500px;
  }

  .section350px {
    height: 350px;
  }

  .justify {
    justify-content: space-around;
    align-items: center;
  }
