@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
  
  /* Reset */
  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

  /* body */
  body {
    line-height: 1.6;
    color: #031C3B;
    font-family: "Roboto", "Times New Roman", serif;
    background-color: rgb(247, 236, 236);
  }
  /* header */
  header {
    background-color: #faebd7;
    padding: 1px;
    margin-top: 2px;
  }

  h1 {
    font-size: 4.5em;
    font-family: 'Titillium Web', Geneva, Tahoma, sans-serif;
  }

  p {
    font-size: large;
  }
  
  /* nav */
  #nav {
    background-color: #031C3B;
    height: 2.5em;   
    margin-top: 2px;
    justify-content: space-around;
    align-items: center;
  }

  nav > a {
    text-decoration: none;
    color: #faebd7;
  }
  
  /* section */
  section {
    margin-top: 1em;
  }

  section div p {
    text-align: justify;
  }


  /* general formatting */

  .displayflex {
    display: flex;
  }
  
  .backgroundnavy {
    background-color: #031C3B;
    color: #faebd7;
  }

  .padding20px {
    padding: 20px;
  }

  .margintop2px {
    margin-top: 2px;
  }

  .uppercase {
    text-transform: uppercase;
  }

  .font2em {
    font-size: 2em;
  }

  .img400px {
    height: 400px;
  }

  .img340px {
    height: 340px;
  }

  .section500px {
    height: 500px;
  }

  .section200px {
    height: 200px;
  }

  .spacearound-center {
    justify-content: space-around;
    align-items: center;
  }
  
  .spacearound-center-rowreverse {
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
  }

  .whiteletter {
    color: rgb(247, 236, 236);
  }

/* specific formatting */

  #main-header {
    background-image: url(../images/bikestoppedonthestreet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    padding-top: 30px;
    color: #faebd7;
    flex-flow: column nowrap;
    justify-content: center;
  }

  .backgroundmountains {
    background-image: url(../images/winterspin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  /* responsiveness */
  @media (max-width: 768px) {
    #nav {
        flex-direction: column;
        align-items: center;
    }

    .section500px {
        flex-direction: column;
        text-align: center;
    }

    .img400px {
        max-width: 300px;
    }
  }

  @media (max-width: 480px) {
    html {
        font-size: 90%;
        width: 100%;
    }

    .section500px {
        flex-direction: column;
        text-align: center;
    }

    .img400px {
        max-width: 260px;
        max-height: 280px;
    }
    
    .img340px {
        max-width: 250px;
        max-height: 280px;
    }

    .section200px p {
        font-size: 85%;
    }
  }
